<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-1986-1658422207/blob/main/Copy_of_DA_Assignment_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s= "Hi there dad!"

In [ ]:
print(s.split(" "))

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
txt="The diameter of {planet} is {diameter} kilometers"

In [ ]:
print(txt.format(planet="Earth", diameter=12742))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
#Tuple is immutable whereas List is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def seekers(a):
  return a.split('@')[1]

In [ ]:
seekers('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def seekers(str):
  for i in str :
    if (i=='dog'):
      return True
      break

In [ ]:
import string
s="The Dog name is tom"
s1=s.translate(str.maketrans('', '', string.punctuation))
seekers(s1.lower().split(' '))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def seekers(str):
  count=0
  for i in str :
    if (i=='dog'):
      count=count+1
  return count

In [ ]:
import string
s="The Dog name is dog"
s1=s.translate(str.maketrans('', '', string.punctuation))
seekers(s1.lower().split(' '))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(85, False)

'Big Ticket'

In [ ]:
caught_speeding(85, True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
emp1=[5000, 2000, 3000, 4000, 1000]
print("Salary of Employees:")
for i in emp1:
  print(i)
sum=0
for i in emp1:
  sum+=i
print("Total Salary:",sum)

Salary of Employees:
5000
2000
3000
4000
1000
Total Salary: 15000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict1= {'Empid': 1, 'Empname': 'Merlin', 'Basicpay': 100000}
dict2= {'DeptName': 'Senior Software Developer', 'DeptId': 'CS122'}
dict1.update(dict2)
print(dict1)

{'Empid': 1, 'Empname': 'Merlin', 'Basicpay': 100000, 'DeptName': 'Senior Software Developer', 'DeptId': 'CS122'}